div.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #E6E600;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
.divTable.blueTable .divTableBody .divTableCell {
    font-size: 13px;
    color: #333333;
}
.divTable.blueTable .divTableRow:nth-child(even) {
    background: #D0E4F5;
}
.divTable.blueTable .divTableHeading {
    background: #999900;
    background: -moz-linear-gradient(top, #b2b240 0%, #a3a319 66%, #999900 100%);
    background: -webkit-linear-gradient(top, #b2b240 0%, #a3a319 66%, #999900 100%);
    background: linear-gradient(to bottom, #b2b240 0%, #a3a319 66%, #999900 100%);
    border-bottom: 2px solid #444444;
}
.divTable.blueTable .divTableHeading .divTableHead {
    font-size: 15px;
    font-weight: bold;
    color: #FFFDE3;
    border-left: 2px solid #D0E4F5;
}
.divTable.blueTable .divTableHeading .divTableHead:first-child {
    border-left: none;
}

.blueTable .tableFootStyle {
    font-size: 14px;
}
.blueTable .tableFootStyle .links {
    text-align: right;
}
.blueTable .tableFootStyle .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}
.blueTable.outerTableFooter {
    border-top: none;
}
.blueTable.outerTableFooter .tableFootStyle {
    padding: 3px 5px;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}